.main {
    overflow: hidden;
    

    .container {
        
        @include desktop {
            display: grid;
            grid-template-columns: 1.5fr 3.5fr;
        }

        @include ana {
            display: grid ;
            grid-template-columns: 1fr 3fr;

        }

        @include large {
            display: grid;
            grid-template-columns: 1fr;
            gap: 82px;
        }

        .cards {
            position: relative;

            @include desktop {
                background-image: url(/images/bg-main-desktop.png);
                height: 100vh;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                .one {
                    max-width: 100%;
                    position: absolute;
                    top: 480px;
                    left: 50%;
                }

                .two {
                    position: relative;
                    top: 20%;
                    
                    .main {
                        max-width: 100%;
                        position: absolute;
                        left: 30%;
                    }

                    .logo {
                        max-width: 100%;
                        position: absolute;
                        left: 40%;
                        top: 20px;
                    }
                }
            }

            @include large {
                height: 320px;
                background-image: url(/images/bg-main-mobile.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                .one {
                    max-width: 80%;
                    position: absolute;
                    top: 32px;
                    right: 16px;
                }

                .two {
                    position: relative;
                    top: 123px;
                    left: 16px;

                    .main {
                        max-width: 80%;
                        position: relative;
                    }

                    .logo {
                        max-width: 20%;
                        position: absolute;
                        left: 19px;
                        top: 18px;

                        @include small {
                            max-width: 15%;
                            top: 16px;
                            left: 16px;
                        }
                    }
                }
            }

            @include small {
                height: 230px;
            }
        }

        .inputes {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;


            form {
                display: flex;
                flex-direction: column;
                width: 90%;
                margin-inline: auto;

                @include desktop {
                    width: 40%;
                }

                @include ana {
                    width: 50%;
                }

                label {
                    display: block;
                    margin-bottom: .5rem;
                }

                input {
                    height: 50px;
                    padding: 10px;
                    border: 1px solid $Dark-grayish-violet;
                    border-radius: 10px;
                    margin-bottom: 1rem;
                    max-width: 100%;

                    &::placeholder {
                        color: $Dark-grayish-violet;
                        font-size: 1.1rem;
                    }
                }

                .last {

                    label {

                        span {
                            margin-left: 1rem;
                        }
                    }

                    .input {
                        display: grid;
                        grid-template-columns: 70px 70px 110px;
                        gap: .5rem;

                        input {
                            padding-left: 14px;
                        }
                    }

                    .btn {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .submit {
                            border: none;
                            outline: none;
                            background-color: $Very-dark-violet;
                            color: #fff;
                            font-size: 1.1rem;
                            font-weight: bold;
                            
                            @include small {
                                width: 100% !important;
                            }

                            @include large {
                                width: 60%;
                                margin-inline: auto;
                            }

                            @include desktop {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}